<%- include('../partials/header.ejs') %>
    <div class="row">
        <div class="col-5 m-auto">

            <h2>Register form</h2>

            <form action="/register" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email : </label>
                    <input type="email" class="form-control" id="email" name="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password : </label>
                    <input type="text" class="form-control" id="password" name="password">
                    <!-- <input type="password" class="form-control" id="password" name="password"> -->
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>