<%- include('./partials/header.ejs') %>
<h2>List of all jobs</h2>
<a class="btn btn-danger" href="/jobs/new">Add a new job</a>
<% for(let job of foundJobs){ %>
    <div>
        <%= job.name %><a class="btn btn-success ms-2" href="/jobs/<%= job._id %>"> Read More</a>
    </div>
<% } %>
<%- include('./partials/footer.ejs') %>