<%- include('../partials/header.ejs') %>
    <main class="page-wrapper">

        <!-- Page content-->
        <!-- Page container-->
        <div class="container mt-5 mb-md-4 py-5">
            <!-- Breadcrumb-->
            <nav class="mb-3 mb-md-4 pt-md-3" aria-label="Breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Post Notification</li>
                </ol>
            </nav>
            <!-- Page content-->
            <div class="row justify-content-center pb-sm-2">
                <div class="col-lg-11 col-xl-10">
                    <!-- Page title-->
                    <div class="text-center pb-4 mb-3">
                        <h1 class="h2 mb-4">You can post new Notification's here</h1>

                    </div>

                    <!-- Step 1: Basic Info-->
                    <div class="bg-light rounded-3 p-4 p-md-5 mb-3">
                        <h2 class="h4 mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i>Notification info</h2>
                        <form action="/notifications" method="post">
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label class="form-label" for="pr-fn">Author <span
                                            class='text-danger'>*</span></label>
                                    <input class="form-control form-control-lg" type="text" id="pr-fn"
                                        placeholder="Enter Author name" name="author" required>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-12 mb-4">
                                    <label class="form-label" for="pr-address">Notification Body</label>
                                    <input class="form-control form-control-lg" type="text" name="body" id="pr-address"
                                        placeholder="Enter the Notification details">
                                </div>
                            </div>
                            <!-- Navigation-->
                            <div class="d-flex flex-column flex-sm-row bg-light rounded-3 p-4 px-md-5">
                                <button type="submit" class="btn btn-primary btn-lg rounded-pill ms-sm-auto">Post Notification<i class="fi-chevron-right fs-sm ms-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>