<%- include('../partials/header.ejs') %>
    <div class="row">
        <div class="col-5 m-auto">
            <h2>You can post new Questions's here</h2>
            <form action="/jobs/<%= jobId %>/questions" method="post">
                <div class="mb-3">
                    <label for="body" class="form-label">Question Description : </label>
                    <input required type="text" class="form-control" id="body" name="question[description]">
                </div>
                <div class="mb-3">
                    <label for="option1" class="form-label">Option1 : </label>
                    <input required type="text" class="form-control" id="option1" name="question[option1]">
                </div>
                <div class="mb-3">
                    <label for="option2" class="form-label">Option2 : </label>
                    <input required type="text" class="form-control" id="option2" name="question[option2]">
                </div>
                <div class="mb-3">
                    <label for="option3" class="form-label">Option3 : </label>
                    <input required type="text" class="form-control" id="option3" name="question[option3]">
                </div>
                <div class="mb-3">
                    <label for="option4" class="form-label">Option4 : </label>
                    <input required type="text" class="form-control" id="option4" name="question[option4]">
                </div>
                <div class="mb-3">
                    <label for="correctOption" class="form-label">Correct Option : </label>
                    <input required type="text" class="form-control" id="correctOption" name="question[correctOption]">
                </div>

                <div>
                    <input class="btn btn-primary" type="submit" value="Add a new Question">
                </div>
            </form>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>